<% if @user.errors.any? %>
  <div class="error-explanation">
    <% @user.errors.each do |attr, msg| %>
      <p class="signup-error alert alert-danger">
        <%= "#{attr.to_s.humanize}: #{msg.humanize}" %>
      </p>
    <% end %>
  </div>
<% end %>

<div class="signup-form">
  <div class="container">
    <div class="form-horizontal">
      <%= form_for(@user) do |f| %>

        <div class="form-group">
          <%= f.label :username, class: "col-md-2 label-control" %>
          <div class="col-md-10">
            <%= f.text_field :username, placeholder: "Username", class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "col-md-2 label-control" %>
          <div class="col-md-10">
            <%= f.email_field :email, :placeholder => "Email", class: "form-control"  %>
          </div>
        </div>

          <div class="form-group">
          <%= f.label :zipcode, class: "col-md-2 label-control" %>
          <div class="col-md-10">
            <%= f.text_field :zipcode, placeholder: :zipcode, class: "form-control"  %>
          </div>
        </div>

          <div class="form-group">
          <%= f.label :password, class: "col-md-2 label-control" %>
          <div class="col-md-10">
            <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
          </div>
        </div>

          <div class="form-group">
            <%= f.label "Repeat password", class: "col-md-2 label-control" %>
          <div class="col-md-10">
          <%= f.password_field :password_confirmation, :placeholder => "Confirm password", class: "form-control"  %>
          </div>
        </div>

        <%= f.submit "Create an account", class: "btn-submit btn btn-default pull-right" %>
      <% end %>

    </div>

  </div>
</div>
