<div class="container">
  <h1><%= @user.name %></h1>
  <div class="thumbnail">
    <img src="<%= @user.image %>"/>
  </div>
  <h2>Offers</h2>
  <% @user.offers.each do |offer| %>
  <p><%= offer.description %> <%= link_to "Link", offer %></p>

  <%end%>

  <h2>Searches</h2>
  <% @user.searches.each do |search| %>
  <p><%= search.description %> </p>
  <%end%>

</div>
