<div class="container">
  <div class="jumbotron">
    <div class="row">
      <%= image_tag @offer.image, class: "col-md-6 col-xs-12"%>
      <div class="col-md-6">
        <p>
          <%= @offer.description %>
          <small class="offered-by">offered by </small>
         <%= link_to @offer.user.first_name, @offer.user, class: "btn btn-default" %>
       </p>

        <% if owner? @offer %>
          <p class="offer-edit">
            <%= link_to "Edit", edit_offer_path(@offer.id), class: "btn btn-primary" %>
          </p>
          <p class="offer-delete">
            <%= button_to "Delete", offer_path(@offer), method: "delete", class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
