<!DOCTYPE html>
<html>
<head>
  <title>Goodact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="nav">


      <div class="container">



          <ul class="nav-pills">
            <li><a href="#">Home</a></li>
            <li><a href="#">Zome</a></li>
          </ul>

      </div>

    </div>
  </div>
<%= link_to "Home", root_path %>
<%= yield %>

</body>
</html>
