<!DOCTYPE html>
<html>
<head>
  <title>Goodact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
  <nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation ein-/ausblenden</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "GoodAct", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Help</a></li>
          <li><%= link_to "User", users_path %></li>
          <% if current_user %>
            <li class="user_profile_link"><%= link_to current_user.first_name, current_user %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Signup", 'signup' %></a></li>
            <li><%= link_to "Login", 'login' %></a></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="container">
  <% flash.each do |name, message| %>
    <% case name %>
      <% when "notice" %>
        <p class="alert alert-info">
          <%= "#{message}" %>
        </p>
      <% when "success" %>
        <p class="alert alert-success">
          <%= "#{message}" %>
        </p>
      <% when "warning" %>
        <p class="alert alert-warning">
          <%= "#{message}" %>
        </p>
      <% when "error" %>
        <p class="alert alert-danger">
          <%= "#{message}" %>
        </p>
    <% end %>
  <% end %>
</div>


    <%= yield %>
</body>
</html>
